body {font-family:'Liberation Serif',serif;font-size:1.6000001rem;max-width:800px;margin-left:auto;margin-right:auto}
span.Footnoteanchor {font-size:58%;vertical-align:super}
span.FootnoteSymbol {}
a:link {color:#000080;text-decoration:underline}
a:visited {color:#800000;text-decoration:underline}
a.Internet20link:link {color:#000080;text-decoration:underline}
a.Internet20link:visited {color:#800000;text-decoration:underline}
p.Bibliography1 {margin-left:2.5587401rem;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:-2.5587401rem;font-size:1.6000001rem}
p.List1 {margin-left:2.4rem;margin-right:0;margin-top:0;margin-bottom:0.8012598rem;border:none;padding:0;text-indent:-2.4rem;text-align:justify;font-size:1.6000001rem}
p.Title {margin-left:0;margin-right:0;margin-top:1.5987402rem;margin-bottom:0.8012598rem;border:none;padding:0;text-align:center;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:3.7333333rem}
p.Subtitle {margin-left:0;margin-right:0;margin-top:0.4006299rem;margin-bottom:0.8012598rem;border:none;padding:0;text-align:center;font-family:'Liberation Sans',sans-serif;font-size:2.4rem}
p.Caption {margin-left:0;margin-right:0;margin-top:0.7937008rem;margin-bottom:0.7937008rem;border:none;padding:0;font-style:italic;font-size:1.6000001rem}
p.Numbering1 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0.38173229rem;border:none;padding:0;text-indent:0;text-align:justify;font-size:1.6000001rem}
p.TableContents {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:1.6000001rem}
p.indexheading {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-align:left;font-style:italic;font-size:1.6000001rem;display: flex;justify-content: space-between;}
p.Textbody {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0.9335434rem;border:none;padding:0;text-align:justify;font-size:1.6000001rem}
p.TableHeading {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-align:center;font-weight:bold;font-size:1.6000001rem}
p.Footnote {margin-left:2.2677166rem;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:-2.2677166rem;text-align:justify;font-size:1.3333334rem}
p.imagefooter {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0.9335434rem;border:none;padding:0;text-align:justify;font-size:1.3333334rem}
p.Contents1 {margin-left:0;margin-right:0;margin-top:1rem;margin-bottom:0;border:none;padding:0;text-indent:0;font-size:1.6000001rem}
p.Contents2 {margin-left:0;margin-right:0;margin-top:0.1rem;margin-bottom:0;border:none;padding:0;text-indent:0;font-size:1.6000001rem;padding-left: 2rem}
p.indexentry {margin-left:1.8859844rem;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-align:justify;font-size:1.6000001rem}
p.Index2 {margin-left:1.8859844rem;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:0;font-size:1.6000001rem}
p.Index1 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:0;font-size:1.6000001rem}
p.Boxed {margin-left:2.2677166rem;margin-right:0;margin-top:0;margin-bottom:0;border-right:1px solid #000000;border-left:1px solid #000000;padding:0.18519685rem;text-indent:0;text-align:justify;font-size:1.4rem}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:1.6000001rem}
p.Framecontents {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:1.6000001rem}
h1 {margin-left:0;margin-right:0;margin-top:1.5987402rem;margin-bottom:0.8012598rem;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:2.4rem;clear:left}
h1.ContentsHeading {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0.7937008rem;border:none;padding:0;text-indent:0;text-align:center;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:2.1333334rem;clear:left}
h1.IndexHeading {margin-left:0;margin-right:0;margin-top:1.5987402rem;margin-bottom:0.8012598rem;border:none;padding:0;text-indent:0;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:2.1333334rem;clear:left}
h2 {margin-left:0;margin-right:0;margin-top:1.3341732rem;margin-bottom:0.8012598rem;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:2.1333334rem;clear:left}
h3 {margin-left:0;margin-right:0;margin-top:0.9335434rem;margin-bottom:0.8012598rem;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:1.8666667rem;clear:left}
h4 {margin-left:0;margin-right:0;margin-top:0.8012598rem;margin-bottom:0.8012598rem;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-style:italic;font-weight:bold;font-size:1.7333333rem;clear:left}
.L3_1 {margin-top:0;margin-bottom:0;margin-left:0;padding-left:3.0274017rem;clear:left}
.L3_1 > li::marker {content:''}
.L3_1 > li > p:first-of-type {text-indent:-1.1414173rem}
.L3_1 > li > p {margin-left:0}
.L3_1 > li > p:first-of-type::before {content:'• ';font-family:OpenSymbol;display:inline-block;width:1.6rem;text-indent:0}
.L1_1 {margin-top:0;margin-bottom:0;margin-left:0;padding-left:2.2677166rem;counter-reset:L1_1 0;clear:left}
.L1_1 > li::marker {content:''}
.L1_1 > li > p:first-of-type {text-indent:-2.2677166rem}
.L1_1 > li > p {margin-left:0}
.L1_1 > li > p:first-of-type::before {counter-increment:L1_1;content:counter(L1_1,decimal) '. ';font-weight:normal;display:inline-block;width:2.2677166rem;text-indent:0}
.List1_1 {margin-top:0;margin-bottom:0;margin-left:0;padding-left:1.511811rem;clear:left}
.List1_1 > li::marker {content:''}
.List1_1 > li > p:first-of-type {text-indent:-1.511811rem}
.List1_1 > li > p {margin-left:0}
.List1_1 > li > p:first-of-type::before {content:'• ';font-weight:normal;font-family:OpenSymbol;display:inline-block;width:1.6rem;text-indent:0}
.List1_2 {margin-top:0;margin-bottom:0;margin-left:0;padding-left:1.5155904rem;clear:left}
.List1_2 > li::marker {content:''}
.List1_2 > li > p:first-of-type {text-indent:-1.511811rem}
.List1_2 > li > p {margin-left:0}
.List1_2 > li > p:first-of-type::before {content:'◦ ';font-weight:normal;font-family:OpenSymbol;display:inline-block;width:2.0rem;text-indent:0}
.Numbering123_1 {margin-top:0;margin-bottom:0;margin-left:0;padding-left:1.511811rem;counter-reset:Numbering123_1 0;clear:left}
.Numbering123_1 > li::marker {content:''}
.Numbering123_1 > li > p:first-of-type {text-indent:-1.511811rem}
.Numbering123_1 > li > p {margin-left:0}
.Numbering123_1 > li > p:first-of-type::before {counter-increment:Numbering123_1;content:counter(Numbering123_1,decimal) '. ';font-weight:normal;display:inline-block;width:1.6rem;text-indent:0}
.frameGraphics {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;background-color:transparent;font-size:1.6000001rem}
.frameFrame {margin-left:0.75968504rem;margin-right:0.75968504rem;margin-top:0.75968504rem;margin-bottom:0.75968504rem;border:1px solid #000000;padding:0.56692916rem;background-color:transparent;font-size:1.6000001rem}
.frameGraphics p {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;font-size:1.6000001rem}
.frameFrame p {margin-left:0.75968504rem;margin-right:0.75968504rem;margin-top:0.75968504rem;margin-bottom:0.75968504rem;font-size:1.6000001rem}
hr.footnoterule {margin-top:0.38173229rem;margin-bottom:0.38173229rem;height:0.0680315rem;width:25%;color:#000000;background-color:#000000;margin-left:0;margin-right:auto}

p.Textbody:not(.Boxed) + p.Boxed {border-top:1px solid #000;margin-top:1rem}
p.Standard:not(.Boxed) + p.Boxed {border-top:1px solid #000;margin-top:1rem}
p.Boxed:not(:has(+ .Boxed)) {border-bottom:1px solid #000;margin-bottom:1rem}
