body {font-family:'Liberation Serif',serif;font-size:1.6rem;max-width:800px;margin-left:auto;margin-right:auto}
span.Footnoteanchor {font-size:58%;vertical-align:super}
span.FootnoteSymbol {}
a:link {color:#000080;text-decoration:underline}
a:visited {color:#800000;text-decoration:underline}
a.Internet20link:link {color:#000080;text-decoration:underline}
a.Internet20link:visited {color:#800000;text-decoration:underline}
p.Bibliography1 {margin-left:2.5587401rem;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:-2.5587401rem;font-size:1.3333334rem}
p.smallest {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-align:justify;font-size:0.8000001rem}

p.ListModule {margin-left:1.2056693rem;margin-right:0;margin-top:0;margin-bottom:0.56692916rem;border:none;padding:0;text-indent:-1.2056693rem;text-align:justify;font-size:1.3333334rem}
p.HorizontalLine {margin-left:0;margin-right:0;margin-top:0;margin-bottom:1.8859844rem;border-top:none;border-bottom:0.026666667rem double #808080;border-left:none;border-right:none;padding:0;font-size:0.8000001rem}
p.Title {margin-left:0;margin-right:0;margin-top:1.5987402rem;margin-bottom:0.8012598rem;border:none;padding:0;text-align:center;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:3.7333333rem}
p.Subtitle {margin-left:0;margin-right:0;margin-top:0.4006299rem;margin-bottom:0.8012598rem;border:none;padding:0;text-align:center;font-family:'Liberation Sans',sans-serif;font-size:2.4rem}
p.Caption {margin-left:0;margin-right:0;margin-top:0.7937008rem;margin-bottom:0.7937008rem;border:none;padding:0;font-style:italic;font-size:1.6000001rem}
p.TableContents {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:1.4666667rem}
p.ListWide {margin-left:1.2056693rem;margin-right:0;margin-top:0;margin-bottom:0.8012598rem;border:none;padding:0;text-indent:-1.2056693rem;text-align:justify;font-size:1.4666667rem}
p.Textbody {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0.56692916rem;border:none;padding:0;text-align:justify;font-size:1.4666667rem}
p.TableHeading {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-align:center;font-weight:bold;font-size:1.4666667rem}
p.Footnote {margin-left:2.2677166rem;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:-2.2677166rem;text-align:justify;font-size:1.3333334rem}
p.ListNarrow {margin-left:1.2056693rem;margin-right:0;margin-top:0;margin-bottom:0.38173229rem;border:none;padding:0;text-indent:-1.2056693rem;text-align:justify;font-size:1.4666667rem}
p.Contents2 {margin-left:1.8859844rem;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:0;font-size:1.4666667rem}
p.imagefooter {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0.56692916rem;border:none;padding:0;text-align:justify;font-size:1.2rem}
p.Contents1 {margin-left:0;margin-right:0;margin-top:0.38173229rem;margin-bottom:0;border:none;padding:0;text-indent:0;font-size:1.4666667rem}
p.indexentry {margin-left:1.511811rem;margin-right:0;margin-top:0;margin-bottom:0.38173229rem;border:none;padding:0;text-align:justify;font-size:1.3333334rem}
p.indexheading {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-align:left;font-style:italic;font-size:1.3333334rem}
p.indexreference {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-align:right;font-style:normal;font-size:1.3333334rem}
p.ListTable {margin-left:1.2056693rem;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:-1.2056693rem;text-align:left;font-size:1.4666667rem}
p.Index2 {margin-left:1.8859844rem;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:0;font-size:1.3333334rem}
p.Index1 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:0;font-size:1.3333334rem}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:1.4666667rem}
p.ListIndexEntry {margin-left:3.0992124rem;margin-right:0;margin-top:0;margin-bottom:0.38173229rem;border:none;padding:0;text-indent:-1.2056693rem;text-align:left;font-size:1.4666667rem}
h1 {margin-left:0;margin-right:0;margin-top:1.5987402rem;margin-bottom:0.8012598rem;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:2.4rem;clear:left}
h1.ContentsHeading {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0.7937008rem;border:none;padding:0;text-indent:0;text-align:center;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:2.1333334rem;clear:left}
h1.IndexHeading {margin-left:0;margin-right:0;margin-top:1.5987402rem;margin-bottom:0.8012598rem;border:none;padding:0;text-indent:0;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:2.1333334rem;clear:left}
h2 {margin-left:0;margin-right:0;margin-top:1.3341732rem;margin-bottom:0.8012598rem;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:2.1333334rem;clear:left}
h3 {margin-left:0;margin-right:0;margin-top:0.9335434rem;margin-bottom:0.8012598rem;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:1.8666667rem;clear:left}
h4 {margin-left:0;margin-right:0;margin-top:0.8012598rem;margin-bottom:0.8012598rem;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-style:italic;font-weight:bold;font-size:1.7333333rem;clear:left}
.List1_1 {margin-top:0;margin-bottom:0;margin-left:0;padding-left:1.511811rem;clear:left}
.List1_1 > li::marker {content:''}
.List1_1 > li > p:first-of-type {text-indent:-1.511811rem}
.List1_1 > li > p {margin-left:0}
.List1_1 > li > p:first-of-type::before {content:'• ';font-weight:normal;font-family:OpenSymbol;display:inline-block;width:4.8rem;text-indent:0}
.List1_2 {margin-top:0;margin-bottom:0;margin-left:0;padding-left:1.5155904rem;clear:left}
.List1_2 > li::marker {content:''}
.List1_2 > li > p:first-of-type {text-indent:-1.511811rem}
.List1_2 > li > p {margin-left:0}
.List1_2 > li > p:first-of-type::before {content:'◦ ';font-weight:normal;font-family:OpenSymbol;display:inline-block;width:3.2844095rem;text-indent:0}
.frameGraphics {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;background-color:transparent;font-size:1.6000001rem}
.frameGraphics p {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;font-size:1.6000001rem}
hr.footnoterule {margin-top:0.38173229rem;margin-bottom:0.38173229rem;height:0.0680315rem;width:25%;color:#000000;background-color:#000000;margin-left:0;margin-right:auto}

/* ==Boxed== */
p.Boxed,p.BoxedHeading,p.BoxedHeading2 {margin-left:1.1338583rem;margin-right:0;margin-top:0;margin-bottom:0rem;border-right:1px solid #000000;border-left:1px solid #000000;padding:0.18519685rem;text-indent:0;text-align:justify;font-size:1.3333334rem}
p.BoxedHeading  {padding-top:0.75rem;font-style:italic;font-weight:normal;font-size:1.3333334rem}
p.BoxedHeading2 {padding-top:0.75rem;font-size:1.3333334rem}
/* draw top border if first boxed paragraph */
p.Textbody + p.Boxed,
h3 + p.Boxed,
p.Textbody + p.BoxedHeading,
p.Textbody + p.BoxedHeading2,
p:not(.Boxed):not(.BoxedHeading):not(.BoxedHeading2) + p.Boxed,
p:not(.Boxed):not(.BoxedHeading):not(.BoxedHeading2) + p.BoxedHeading,
p:not(.Boxed):not(.BoxedHeading):not(.BoxedHeading2) + p.BoxedHeading2 {
  border-top: 1px solid #000;
  margin-top: 1rem;
}
/* draw bottom border if last boxed paragraph */
p.Boxed:not(:has(+ .Boxed, + .BoxedHeading, + .BoxedHeading2)),
p.BoxedHeading:not(:has(+ .Boxed, + .BoxedHeading, + .BoxedHeading2)),
p.BoxedHeading2:not(:has(+ .Boxed, + .BoxedHeading, + .BoxedHeading2)) {
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
}
